[Unit]
Description=Arducam imx708 Stream
After=network.target

[Service]
Type=simple
User=pi
Group=pi

ExecStartPre=/bin/sleep 15 # delay to give time for cam to boot
ExecStart=/opt/camera_stream/start_stream.sh
WorkingDirectory=/opt/camera_stream

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target